<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact</title>
  <style>
    h1{
      text-align: center;
      color: rgb(41, 108, 88);
    }
  </style>
</head>
<body>
  <h1>Hello welcome to Contact page</h1>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/blogs">Blogs</a>
</body>
</html>