<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        h1{
            text-align: center;
            color:rgb(122, 158, 22);
        }
    </style>
</head>
<body>
    <h1>welcome to About page..</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</body>
</html>