<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1{
      text-align: center;
      font-size: 46px;
    }
    table{
      font-size: 24px;
      
    }
  </style>
</head>
<body>
  <h1>User DataBase</h1>
  <table border="" cellspacing="0" cellpadding="5" align="center">
    <tr>
      <th>User Id</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone No</th>
    </tr>
  </table>
</body>
</html>